<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Listado de anuncios:</h2>
    <ul>
      <% anuncios.forEach(anuncio => {  %>
        <br>
        <li>
          <p><b>Artículo:</b> <%= anuncio.nombre %></p>
          <p><b>Tipo: </b>
            <% if (anuncio.venta) { %>
              Se vende
            <% } else { %>
              Se busca
            <% } %>
          </p>
          <p><b>Precio:</b> <%= anuncio.precio %> €</p>
          <p><b>Etiquetas: </b>
            <% anuncio.tags.forEach(tag => {  %>
              <%= tag %>
            <% }) %>
          </p>
          <img src="images/anuncios/<%= anuncio.foto %>" alt="Foto Articulo" width="250" height="200">
        </li>
      <% }) %>
    </ul>
  </body>
</html>
